* html .u4_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u4_line.png");
}

* html .u5_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u5_normal.png");
}

* html .u8_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u8_image_sketch.png");
}

* html .u10_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u10_image_sketch.png");
}

* html .u14_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u14_line.png");
}

* html .u16_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u16_line.png");
}

* html .u18_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u18_line.png");
}

* html .u20_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u20_normal.png");
}

* html .u22_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u20_normal.png");
}

* html .u24_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u20_normal.png");
}

* html .u26_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u20_normal.png");
}

* html .u28_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u28_image_sketch.png");
}

* html .u29_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u29_normal.png");
}

* html .u31_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u31_normal.png");
}

* html .u33_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u33_normal.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u35_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u37_normal.png");
}

* html .u40_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u40_normal.png");
}

* html .u44_image_sketch {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u44_image_sketch.png");
}

* html .u46_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Add_files/u46_line.png");
}

